name: build-pip

on:
  push:
    branches:
      - master
    paths:
      - '.github/workflows/build-pip.yml'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'kaldifst/csrc/**'
      - 'kaldifst/python/**'
      - 'setup.py'
  pull_request:
    branches:
      - master
    paths:
      - '.github/workflows/build-pip.yml'
      - 'CMakeLists.txt'
      - 'cmake/**'
      - 'kaldifst/csrc/**'
      - 'kaldifst/python/**'
      - 'setup.py'

  workflow_dispatch:

concurrency:
  group: build-pip-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build-pip:
    name: ${{ matrix.os }} ${{ matrix.python-version }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest, ubuntu-24.04-arm, macos-13]
        python-version: ["3.8", "3.9", "3.10", "3.11", "3.12", "3.13"]
      fail-fast: false
    steps:
      - uses: actions/checkout@v4

      - name: ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ matrix.os }}-${{ matrix.python-version }}

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Build
        shell: bash
        run: |
          export CMAKE_CXX_COMPILER_LAUNCHER=ccache
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          cmake --version

          python3 -m pip install -U pip wheel numpy setuptools
          python3 setup.py bdist_wheel
          ls -lh dist
          python3 -m pip install ./dist/kaldifst*.whl
          cd ../..
          python3 -c "import kaldifst; print(kaldifst.__version__)"
          python3 -c "import kaldifst; print(kaldifst.__file__)"
