name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.6

      - name: Build
        shell: bash
        run: |
          mkdir build
          cd build
          cmake -DKALDIFST_BUILD_TESTS=ON ..
          make -j2 VERBOSE=1

          ls -l lib
          ls -l bin
          ctest --verbose --output-on-failure
