name: build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Python dependencies
        run: |
          pip3 install -qq wheel twine dataclasses numpy typing_extensions

      - name: Display CMake version
        run: |
          cmake --version
          cmake --help

      - name: Build
        shell: bash
        run: |
          mkdir build
          cd build
          cmake -DKALDIFST_BUILD_TESTS=ON ..
          make -j2 VERBOSE=1

          ls -l lib
          ls -l bin
          ctest --verbose --output-on-failure -E k2


      - name: Display dependencies ubuntu
        if: startsWith(matrix.os, 'ubuntu')
        shell: bash
        run: |
          cd build

          ldd lib/libkaldifst_core.so

          readelf -d lib/libkaldifst_core.so

      - name: Display dependencies macos
        if: startsWith(matrix.os, 'macos')
        shell: bash
        run: |
          cd build

          otool -L lib/libkaldifst_core.dylib

          otool -l lib/libkaldifst_core.dylib
