
name: nightly-windows

on:
  push:
    branches:
      - master
      - nightly
  schedule:
    # minute (0-59)
    # hour (0-23)
    # day of the month (1-31)
    # month (1-12)
    # day of the week (0-6)
    # nightly build at 23:50 UTC time every day
    - cron: "50 23 * * *"

jobs:
  nightly-windows-pip:
    # see https://github.com/actions/virtual-environments/blob/win19/20210525.0/images/win/Windows2019-Readme.md
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019, ubuntu-latest, macos-latest]
        python-version: [3.6, 3.7, 3.8, 3.9]

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      # see https://github.com/microsoft/setup-msbuild
      - name: Add msbuild to PATH
        if: startsWith(matrix.os, 'windows')
        uses: microsoft/setup-msbuild@v1.0.2

      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Display Python version
        run: python -c "import sys; print(sys.version)"

      - name: Install Python dependencies
        run: |
          pip3 install -qq wheel twine dataclasses numpy typing_extensions

      - name: Display CMake version
        run: |
          cmake --version
          cmake --help

      - name: Install kaldifst
        shell: bash
        run: |
          pip3 install --verbose -U kaldifst

      - name: Display kaldifst version
        shell: bash
        run: |
          python3 -c "import kaldifst; print(kaldifst.__version__)"
